Thumbs.db
.DS_Store
.atom/
.idea/
.vscode/

.packages
.pub/
.dart_tool/

Podfile
Podfile.lock
Pods/
.symlinks/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

local.properties
.gradle/
gradlew
gradlew.bat
gradle-wrapper.jar
*.iml

GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m
GeneratedPluginRegistrant.java
build/
.flutter-plugins
